body  {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 100px;
  margin: 10px auto;
  max-width: 500px;
  min-height: 400px;
}

.content {
  padding: 10px;
  border: 1px solid black;
}

.text-info {
  margin: 10px;
  font-size: 1.4em;
  font-weight: 400;
  color: #8c8c8c;
}

/* --- Progress Bar Styling --- */
.progress,
.progress-bar {
  min-height: 2em;
}
.progress {
  background-color: #545454;
  position: relative;
}
.progress-bar {
  background-color: #43b7e1;
}
/* End of Progress Bar Styling */

/* --- Tooltip Styling --- */
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    min-width: 350px;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 30%;
    margin: 0 10px;
    opacity: 0;
    transition: opacity 1s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* --- End of tooltip styling --- */

.thisDatePicker {
  display: none;
}

.full-width {
  width: 100%;
}

.donation-input {
  padding-right: 30px;
}

.md-text-field-icon-container > .md-icon {
  font-size: 44px;
}

.md-icon {
  font-size: 20px;
}
